/* App.css */

:root {
  --gradient-animation: linear-gradient(45deg, rgba(0, 0, 255, 1),rgba(80, 201, 195, 1), rgba(0, 128, 0, 1), rgb(255,0,0), rgb(255,255,0),rgba(80, 201, 195, 1), rgba(0, 0, 255, 1));
  --player-gradient: linear-gradient(45deg, rgba(173, 216, 230, 1), rgb(255, 255, 224), rgba(173, 216, 230, 1),rgb(255, 255, 224));
  --highlight-gradient: linear-gradient(45deg,rgba(80, 201, 195, 1), rgb(255,255,0), rgba(144, 238, 144, 1), rgb(255, 255, 224), rgb(255,255,0), rgba(150, 222, 218, 1));
  --dark-blue: #0F2C56;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--gradient-animation);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.player, .playlist {
  background: var(--player-gradient);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
}

.player-bar, .playlist-bar {
  background-color: var(--dark-blue);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.fcc-title, .playlist-title {
  font-size: 18px;
  margin: 0;
}

.parallel-lines div {
  width: 20px;
  height: 2px;
  margin: 2px 0;
  background: var(--player-gradient);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.player-content {
  padding: 20px;
  text-align: center;
}

#player-album-art img {
  width: 100%;
  border-radius: 10px;
}

.player-display {
  margin-top: 10px;
}

.player-display-song-artist p {
  margin: 5px 0;
}

.player-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.player-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.player-buttons button svg {
  width: 24px;
  height: 24px;
}

.playlist {
  max-height: 400px; /* Adjust this value as needed */
  overflow-y: auto; /* Add this line to enable vertical scrolling */
}

#playlist-songs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playlist-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.playlist-song-info {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  font-size: 14px;
}

.playlist-song-title,
.playlist-song-artist,
.playlist-song-duration {
  display: block;
}

.playlist-song-delete {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.highlight {
  background: var(--highlight-gradient);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .player,
  .playlist {
    width: 100%;
  }
}
